@charset "utf-8";

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {--btnColor:#1B349A;}

.wrap {background: linear-gradient(180deg,rgba(205, 226, 249, 1) 0%, rgba(245, 247, 250, 1) 100%); height: 100%; min-height: 100vh;}
.header {width: 100%; position: fixed; display: flex; justify-content: space-between; align-items: center; padding: 21px 35px; box-shadow: 0 5px 4px rgba(0, 0, 0, 0.12); border: 1px solid #FFFFFF; background: rgba(205, 226, 249, 1); z-index: 10; top: 0;}
.header .right_box {display: flex; justify-content: center; align-items: center; gap: 20px;}
.header .right_box p {font-size: 14px; font-weight: 500; line-height: 150%;}
.header .right_box div {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2px;}
.header .right_box .home .img_box {background-color: #fff; border-radius: 100%; width: 32px; height: 32px;}
.header .right_box .home .img_box img {width: 62%;}

/* 초기화 */
*{word-break: keep-all !important;}
html {overflow-y:scroll; font-size: 16px;background: #fff;font-family: 'Pretendard'; width: 100%;}
body {margin:0;padding:0;font-size:16px;background:#fff;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:16px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd, li {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:16px}
input, button {margin:0;padding:0;font-size:16px}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}
table{border-collapse: collapse; border-spacing: 0 5px;}
textarea, select {font-size:16px}
select {margin:0; outline: none;}
option{outline: none;}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none;
border: none;
}

mark { line-height: initial; }

.placeholdersjs {color:#aaa !important}
::-webkit-scrollbar {
    width:8px;height:8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius:4px;
    background-clip: padding-box;
  }

