@charset "utf-8";

@import "common.css";

.list_wrap {
    padding-top: 130px;
    padding-bottom: 30px;
    width: 70%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 40px;
}

.list_wrap .box {
    width: 40%;
    background: #fff;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.list_wrap .box h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 115%;
}

.list_wrap .box .img_box {
    padding: 15px;
    background-color: #DCF0FF;
    border-radius: 100%;
}

.list_wrap .box .img_box img {
    width: 45px;
    height: 45px;

    filter:
    brightness(0) saturate(100%)
    invert(20%) sepia(90%) saturate(2500%)
    hue-rotate(215deg)
    brightness(50%) contrast(105%);
}