@charset "utf-8";

@import "common.css";

.list_wrap {padding-top: 120px; width: 1008px; margin: 0 auto;}

.list_top {display: flex; justify-content: space-between; align-items: center;}

.list_top .left h2 {font-size: 24px; font-weight: bold; line-height: 150%; color: #101F5D;}

.list_top .right {display: flex; justify-content: space-between; align-items: center; gap: 18px;}

.list_top .right a {font-size: 15px; font-weight: 600; line-height: 150%; width: 64.8px; height: 36px; display: flex; align-items: center; justify-content: center; border-radius: 900px;}
.list_top .right a:first-child {color: #1B349A; border: 1px solid #1B349A; background: #E2ECFE;}
.list_top .right a:last-child {color: #FFFFFF; background: #1B349A;}

.list_main {background: #FFFFFF; height: 490px; margin-top: 20px; border-radius: 20.2px; padding: 20px; box-shadow: 2.02px 4.04px 5.05px rgba(0, 0, 0, 0.25);}

.list_main table{width: 100%;}
.list_main table .table_head {background: #EBECF2;}

.list_main table .table_head th {height: 40px; font-size: 16px; font-weight: 600; color: #454444;}
.list_main table .table_head th:first-child {padding-left: 35px; border-radius: 10px 0 0 10px;}
.list_main table .table_head th:last-child {padding-right: 35px; border-radius: 0 10px 10px 0;}

.list_main table td {text-align: center; height: 41px; font-size: 14px; font-weight: 500; color: #171717;}
.list_main table td:first-child {padding-left: 35px;}
.list_main table td:last-child {padding-right: 35px;}

input[type="checkbox"]{appearance: none;width: 20px;height: 20px;border: 1px solid #101F5D; border-radius: 6px;outline: none;cursor: pointer;position: relative;margin-right: 10px; font-family: 'Pretendard';}
input[type="checkbox"]:checked {background-color: #1B349A;}
input[type="checkbox"]:checked::after {content: '✓'; color: #fff; font-size: 14px; position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);line-height: 1; /* 필요에 따라 추가 */}

.list_btm {display: flex; justify-content: center; align-items: center; margin-top: 20px; gap: 8px; font-size: 14px; font-weight: 400;}
.list_btm a {width: 27px; height: 29px; display: flex; justify-content: center; align-items: center; color: #4D4E4F;}

.list_btm .active {border-radius: 50%; background: #1B349A; color: #fff; }