@charset "utf-8";

@import "common.css";

@page {
    size: A4;
    margin: 15mm;
}

.report-page {
    width: 794px;
    margin: 0 auto;
}

.report-content {
    width: 740px;
    margin: 0 auto;
}

.title {
    color: #000;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 65px;
}

.head_table {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.head_table th {
    background: rgba(194, 174, 233, 0.6);
    border: 1px solid #000;
    width: 182px;
    padding: 5px 0;
}

.head_table td {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 285px;
    font-weight: 400;
    padding: 5px 0;
}

.head_table tr td:last-child {
    border-right: 1px solid #000;
}

.result {
    text-align: right;
    margin: 11px 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.content_table {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.content_table th {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: rgba(194, 174, 233, 0.6);
    padding: 10px 0;
    border: 1px solid #000;
}

.content_table td {
    font-size: 14px;
    font-weight: 600;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 58px;
}

.content_table tr td:first-child {
    border-left: 1px solid #000;
}

.content_table tr td:nth-child(2) {
    text-align: left;
    padding: 0 8px;
    font-weight: 400;
}

.content_table tr:last-child {
    height: 400px;
}

.sign_table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #000;
    margin-bottom: 100px;
    height: 50px;
}

.sign_table th {
    width: 120px;
    border-right: 1px solid #000;
    font-weight: bold;
}

.sign_table tr th:nth-child(3) {
    border-left: 1px solid #000;
}

.sign_table td {
    width: 347px;
    text-align: right;
    font-weight: 500;
    padding-right: 30px;
}