@charset "utf-8";

@import "common.css";

.select_wrap{position: relative; }
.select_wrap select{height:34px; border:none; border-bottom:  1px solid #E5E5EC; padding: 0 20px; color: #505050; width: 100%;  appearance: none; -webkit-appearance: none;-moz-appearance: none; position: relative; background: rgba(255, 255, 255, 0.4); box-shadow: 0 0 4.7px rgba(0, 0, 0, 0.25);}
.select_wrap::after { content:''; position: absolute; top: 50%; right: 15px;transform: translateY(-50%);pointer-events: none; background-image: url("/img/arrow.png"); width: 16px; height: 10px; background-repeat: no-repeat; background-size: contain;}

.write_box {width: 93%; max-width: 1080px; padding-top: 120px; margin: 0 auto;}

.top_box {display: flex; justify-content: space-between; align-items: center; padding-bottom: 20px;}
.top_box .left h2 {color: #101F5D; font-size: 24px; font-weight: bold;}
.top_box .right select {width: 150px; height: 34px; border-radius: 35px; padding: 0 15px; color: #000; font-size: 16px; font-weight: 600;}
.top_box .right select option {color: #000; font-size: 16px; font-weight: 600;}


.main_box {width: 100%;}

.main_box .layout_nav {background: #A9C6FC; height: 40px; border-radius: 8px; text-align: center; font-size: 16px; font-weight: 600; color: #1F1F1F; margin-bottom: 10px;}

.main_box .layout_03 th {font-size: 16px !important;}

.main_box .layout_04 {width: 100%; border-radius: 8px;}
.main_box .layout_04:first-child{margin-bottom: 10px; border-radius: 8px; overflow: hidden;}
.main_box .layout_04 .check_box .img_btn {background: #9AD0FC; border-radius: 0 8px 8px 0;}
.main_box .layout_04 table {width: 100%; background: #fff; border-radius: 8px 8px 0 0; overflow: hidden;}
.main_box .layout_04 table th {font-size: 20px; font-weight: 600; color: #1F1F1F; border-bottom: 1px solid #C8C9CDCC;}
.main_box .layout_04 table td {text-align: center; font-size: 14px; font-weight: 500; color: #171717; border-bottom: 1px solid #C8C9CDCC; border-right: 1px solid #C8C9CDCC; padding: 0 10px; height: 30px;}
.main_box .layout_04 table td:last-child{border-left: 0px;}
.main_box .layout_04 table td.img_btn {border-bottom: 1px solid #fff; cursor: pointer;}
.align_left {text-align: left !important;}
.main_box .layout_04 table input {width: 24px; height: 24px;}
.main_box .layout_04 .check_box .etc {display: flex; align-items: center; text-align: center; background: #fff; width: 100%;}
.main_box .layout_04 .check_box .etc h2 {width: 111px;}
.main_box .layout_04 .check_box .etc input {width: 100%; border-left: 1px solid #C8C9CDCC; height: 50px; padding: 0 10px;}

.main_box .layout_04 .img_box {width: 100%; background: #EBECF2; display: flex; flex-wrap: wrap;}
.main_box .layout_04 .img_box .box {width: 50%; height: 360px; display: flex; justify-content: center; align-items: center;}
.main_box .layout_04 .img_box .box:first-child {border-bottom: 1px dotted #C8C9CDCC; border-right: 1px dotted #C8C9CDCC;}
.main_box .layout_04 .img_box .box:nth-child(2) {border-bottom: 1px dotted #C8C9CDCC;}
.main_box .layout_04 .img_box .box:nth-child(3) {border-right: 1px dotted #C8C9CDCC;}
.main_box .layout_04 .img_box .box img {width: 32px; height: 32px;}

.main_box .layout_03 table .not_bor td{border-bottom: none;}
.main_box .layout_04 table .on_bor{border-right: 1px solid #C8C9CDCC; color: #101F5D;}
.main_box .layout_03 table td:last-child{border-right: 0px;}
.main_box .layout_04 table .not_bor_right{border-right: 0px;}

.btm_box {display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding-bottom: 20px;}
.btm_box a {font-size: 16px; font-weight: 600; line-height: 150%; width: 72px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 900px;}
.btm_box a:first-child {color: #1F1F1F; border: 1px solid #4D4E4F; background: #fff;}
.btm_box a:last-child {color: #FFFFFF; background: #1B349A;}

.change_input {font-size: 14px; text-align: left; width: 100% !important; color: blue;}

@media (max-height: 650px) {
    .top_box .left h2{font-size: 18px;}
    .top_box .right select{width: 110px; font-size: 14px;}
    .main_box .layout_04 table th{font-size: 16px;}
    .main_box .layout_04 .check_box .etc h2 {font-size: 14px;}
    .main_box .layout_04 .check_box .etc input {font-size: 14px;}
}

@media (max-width: 650px) {
    .top_box .left h2{font-size: 18px;}
    .top_box .right select{width: 110px; font-size: 14px;}
    .main_box .layout_04 table th{font-size: 16px;}
    .main_box .layout_04 .check_box .etc h2 {font-size: 14px;}
    .main_box .layout_04 .check_box .etc input {font-size: 14px;}
}
